.pio
CMakeListsPrivate.txt
cmake-build-*/
.idea

board/jurekclock1/jurekclock1-backups/

board/jurekclock_iface/jurekclock_iface-backups/

*.lck

board/jurekclock_iface/#auto_saved_files#

board/jurekclock1/fp-info-cache

board/jurekclock1/gerber/

board/jurekclock_iface/gerber/

board/jurekclock_iface/fp-info-cache

board/jurekclock_iface/_autosave-jurekclock_iface.kicad_pcb

board/jurekclock1/temp-freerouting.dsn

.vscode/

/projectFilesBackup